header {
  font-size: 1.5rem;
}

.navbar {
  padding: 0 1.5rem;
}
@media screen and (min-width: 575px) {
  .navbar {
    padding: 0;
  }
}

.navbar-nav {
  font-family: "Comfortaa", cursive;
}

.navbar-brand {
  padding: 0;
}

.fab {
  font-size: 3rem;
  color: #727271;
  padding-top: 1rem;
}
.fab:hover {
  animation: shake 0.5s ease;
}
.fab:nth-of-type(1) {
  padding-right: 1rem;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.svg {
  width: 40px;
  height: 50px;
  margin: 0;
  margin-top: 0.5rem;
}

.jLetter:hover {
  fill: transparent;
  stroke: "white";
  fill: white;
}

.flexNav {
  justify-content: space-between;
}

.text {
  padding: 0 2rem;
}

h1 {
  font-size: 4rem;
  padding-left: 4rem;
  padding-top: 2rem;
  color: #727271;
}
@media screen and (min-width: 768px) {
  h1 {
    text-align: center;
    padding-left: 0;
  }
}

#hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ef6817, rgba(0, 0, 0, 0));
}

.subtitle {
  padding-bottom: 1rem;
  font-size: 2.3rem;
  color: #727271;
  font-family: "Comfortaa", cursive;
}
@media screen and (min-width: 1200px) {
  .subtitle {
    max-width: 75%;
  }
}

.projectImg {
  margin: 0 auto;
}

.projectImg,
.projectText {
  max-width: 375px;
}

.card {
  max-width: 375px;
}

.projectText {
  text-align: center;
  font-size: 1.3rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin-bottom: 2rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.projectBtns {
  width: 375px;
  text-align: center;
  font-size: 1.3rem;
}

.repoBtn,
.liveBtn {
  background: none;
  border: 1px solid black;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  z-index: 9;
  transition: 0.5s;
  margin: 0 6rem;
}
.repoBtn::before,
.liveBtn::before {
  content: "";
  position: absolute;
  background-color: #ef6817;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  border-radius: 50% 50% 0 0;
  z-index: -1;
  transition: 0.5s;
}
.repoBtn:hover::before,
.liveBtn:hover::before {
  height: 180%;
}
.repoBtn:hover,
.liveBtn:hover {
  text-shadow: 0px 0px 2px #21201f;
}
.repoBtn > a,
.liveBtn > a {
  text-decoration: none;
  color: #21201f;
  padding: 0.5rem 1rem;
}

.about {
  font-size: 2rem;
  color: #727271;
  font-family: "Catamaran", sans-serif;
}
.about:first-letter {
  color: #903;
  float: left;
  font-size: 7.5rem;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  color: #ef6817;
  font-family: Georgia;
}
.about ~ p {
  font-size: 2rem;
  text-indent: 3rem;
  color: #727271;
  font-family: "Catamaran", sans-serif;
}

@media screen and (min-width: 768px) {
  .aboutFlex {
    display: flex;
  }
}

.flexItem1 {
  flex: 2;
}

.flexItem2 {
  flex: 1;
}

.skills {
  text-align: center;
  padding-bottom: 0.3rem;
  color: #ef6817;
}
.skills ~ div {
  text-align: center;
}
.skills ~ div > h4 {
  padding: 1rem 0;
  color: #727271;
}

.skillimgs {
  width: 64px;
}

svg {
  margin: 0.5rem;
}

.contactFlex {
  display: flex;
  flex-wrap: wrap;
}
.contactFlex > div {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  font-size: 3rem;
  color: #727271;
}

.fas {
  color: #ef6817;
  padding-right: 1.5rem;
}

.contactTitle {
  font-size: 2.3rem;
  color: #727271;
  font-family: "Comfortaa", cursive;
}
html {
  height: 100%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #21201f;
  padding-top: 65px;
}

.footer {
  flex-shrink: 0;
  overflow: hidden;
  align-self: center;
  padding: 1.2rem;
  font-weight: 600;
  color: #727271;
  font-size: 1.4rem;
  margin-top: auto;
}

/*# sourceMappingURL=homepage.css.map */
