.nav {
  background-color: #727271;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    padding: 0.3rem 1rem;
    position: relative;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    padding: 0.3rem 5rem;
    border-bottom-right-radius: 50%;
    justify-content: space-around;
  }
}

.fab {
  font-size: 3rem;
  color: black;
  padding-top: 1rem;
}
.fab:hover {
  animation: shake 0.5s ease;
}
.fab:nth-of-type(1) {
  padding-right: 1rem;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.navul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .navul {
    flex-direction: row;
    width: 75%;
  }
}
.social {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
}
.socialli {
  flex: 1;
}

.navItem, .logo {
  display: flex;
  justify-content: center;
}

.logo {
  padding: 0.8rem 0;
}
.logo::after {
  content: "Menu";
  padding-left: 2rem;
  padding-top: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 0;
    margin-left: auto;
    flex: 0;
    align-self: flex-end;
    text-align: left;
    display: flex;
    justify-content: flex-start;
  }
  .logo::after {
    content: "";
  }
}

.navItem + li {
  border-bottom: 2px solid black;
}
@media screen and (min-width: 768px) {
  .navItem + li {
    border: none;
    height: 100%;
  }
}

li:nth-of-type(1) {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
@media screen and (min-width: 768px) {
  li:nth-of-type(1) {
    border: none;
    height: 100%;
  }
}

.svg {
  width: 50px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .svg {
    margin-left: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .svg {
    margin-left: 2rem;
  }
}

li {
  width: 100%;
  padding: 0;
  height: 100%;
}

.socialUL {
  margin-right: auto;
}

.pageLinks {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.text {
  height: 100%;
  text-transform: uppercase;
  color: black;
  font-size: 3rem;
  font-family: "Bahianita", cursive;
  transition: all 0.5s ease;
}
.text:hover {
  color: white;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}
@media screen and (min-width: 768px) {
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .text {
    display: flex;
    letter-spacing: 0.8rem;
    font-weight: 800;
    align-items: center;
    justify-content: center;
  }
}

.iconFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  text-decoration: underline;
}

.svgHeader {
  display: none;
}
@media screen and (min-width: 768px) {
  .svgHeader {
    display: block;
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
  }
}

#ghLink {
  color: black;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
  margin: 2rem 10rem;
  padding-left: 4rem;
  padding-top: 2rem;
  color: #727271;
}
@media screen and (min-width: 768px) {
  h1 {
    text-align: center;
    padding-left: 0;
  }
}

#hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ef6817, rgba(0, 0, 0, 0));
}

h3 {
  color: #727271;
  padding: 2rem 2rem;
}

.subtitle {
  font-size: 2.3rem;
  color: #727271;
  font-family: "Comfortaa", cursive;
}
@media screen and (min-width: 1200px) {
  .subtitle {
    max-width: 75%;
    padding-left: 6rem;
  }
}

.projectImg {
  border-top: 2px solid black;
}

.projectImg,
.projectText {
  max-width: 400px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.projectText {
  text-align: center;
  background-color: #5f605d;
  padding: 2.3rem 0.5rem;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 1.6rem;
  border-radius: 0 0 10% 10%;
}

.title {
  text-decoration: underline;
  padding: 2rem;
}

.projectBtns {
  width: 400px;
  background-color: #5f605d;
  text-align: center;
  border-top: 1px solid #727271;
  border-radius: 0 0 50% 50%;
  padding-bottom: 2rem;
  padding-top: 1rem;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: 0 24px 25px 0 rgba(0, 0, 0, 0.19);
}

.repoBtn,
.liveBtn {
  background: none;
  border: 1px solid black;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  z-index: 9;
  transition: 0.5s;
}
.repoBtn::before,
.liveBtn::before {
  content: "";
  position: absolute;
  background-color: #ef6817;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  border-radius: 50% 50% 0 0;
  z-index: -1;
  transition: 0.5s;
}
.repoBtn:hover::before,
.liveBtn:hover::before {
  height: 180%;
}
.repoBtn:hover,
.liveBtn:hover {
  text-shadow: 0px 0px 2px #21201f;
}
.repoBtn > a,
.liveBtn > a {
  text-decoration: none;
  color: #21201f;
  padding: 0.5rem 1rem;
}

.about {
  font-size: 2rem;
  color: #727271;
  font-family: "Catamaran", sans-serif;
}
.about:first-letter {
  color: #903;
  float: left;
  font-size: 7.5rem;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  color: #ef6817;
  font-family: Georgia;
}
.about ~ p {
  font-size: 2rem;
  text-indent: 3rem;
  color: #727271;
  font-family: "Catamaran", sans-serif;
}

@media screen and (min-width: 768px) {
  .aboutFlex {
    display: flex;
  }
}

.flexItem1 {
  flex: 2;
}

.flexItem2 {
  flex: 1;
}

.skills {
  text-align: center;
  padding-bottom: 0.3rem;
  color: #ef6817;
}
.skills ~ div {
  text-align: center;
}
.skills ~ div > h4 {
  padding: 1rem 0;
  color: #727271;
}

.skillimgs {
  width: 64px;
}

.contactFlex {
  display: flex;
  flex-wrap: wrap;
}
.contactFlex > div {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  font-size: 3rem;
  color: #727271;
}

.fas {
  color: #ef6817;
  padding-right: 1.5rem;
}

* {
  font-family: "Nunito", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #21201f;
}

.container {
  flex: 1 0 auto;
  padding: 0 2rem;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}

.footer {
  flex-shrink: 0;
  overflow: hidden;
  align-self: center;
  padding: 1.2rem;
  font-weight: 600;
  color: #727271;
  font-size: 1.4rem;
}

h1 {
  font-family: "Righteous", cursive;
}

/*# sourceMappingURL=homepage.css.map */
