.callout{
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    &>.aboutTitle{
        align-self: flex-start;
        font-style: italic;
        font-family: 'Hepta Slab', serif;

    }


}
.contactFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    padding-bottom: 5px;
    div{
        padding: 2px;
    }
}

.blurb{
    text-indent: 50px;
}


.skillsBox{
    display: flex;
    h4{
        text-align: center;
        text-decoration: underline;
        font-family: 'Hepta Slab', serif;

    }
}

.skillimgs{
    width: 64px;
}

svg{
	margin: .5rem;
}

.aboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;

    


}

.designSkills{
    text-align: center;
}