.fab  {
  font-size: 3rem;
  color: black;
  margin: 0 3rem;

}

.navul{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	list-style-type: none;
}

.social{
	list-style-type: none;
	display: flex;

}

.navItem{
	margin: 3rem 0;
}

.logo{
	display: flex;
	flex-direction: column;
	align-items: center;
}

header{
	padding-top: 2rem;
}

svg{
	width: 100px;
	height: 100px;
}