header{
	font-size: 1.5rem;
}

.navbar{
	padding: 0 1.5rem;
	
	@include mobile{
		padding: 0;
	}
}

.navbar-nav{
	font-family: 'Comfortaa', cursive;
}

.navbar-brand {
	padding: 0;
}

.fab  {
  font-size: 3rem;
  color: $darkorange1;
  padding-top: 1rem;
  transition: .5s;
  &:hover{
  		color: $orange1;
  	  animation: shake .5s ease ;
  }
  &:nth-of-type(1){
  	padding-right: 1rem;
  }
}  

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.svg{
    width: 40px;
    height: 50px;
    margin: 0;
    margin-top: .5rem;
  
}

 .jLetter{
	transition: all 500ms ease;
	&:hover{
		fill: transparent;
		stroke: "white" ;
		fill: white;
	}
}

.flexNav{
	justify-content: space-between;
}

.text{
	padding: 0 2rem;
}