

#ghLink{
	color: black;
	font-weight: 300;
}

h1 {
	padding-left: 1rem;
	margin: 2rem 0;
	color: $grey1;
	@include smlscreen{
	text-align: center;
 	padding-left: 0;
  	font-size: 4rem;
	// border-bottom:solid 1px black;
	// color: black;
	margin: 2rem 10rem;
  	// box-shadow: inset 0 0px 20px 0 $orangeOpacity;
  	padding-left: 4rem;
	padding-top: 2rem;
<<<<<<< HEAD
	color: $grey1;
	@include smlscreen{
		text-align: center;
		padding-left: 0;
=======
>>>>>>> a4ee777de177e982f757d4e85faf652e3225af9a
	} 
}

#hr{
	 border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $orange1, rgba(0, 0, 0, 0));
}



h3{
	color: $grey1;
	padding: 2rem 2rem;
}

.subtitle{
	font-size: 2.3rem;
<<<<<<< HEAD
	color: $grey1;
	font-family: 'Comfortaa', cursive;
	@include desktop{
=======
		color: $grey1;
		font-family: 'Comfortaa', cursive;
	padding: .2rem .2rem;
	padding-top: 3rem;

@include smlscreen {
		padding-left: 2rem;
	}
	@include desktop {
>>>>>>> a4ee777de177e982f757d4e85faf652e3225af9a
		max-width: 75%;
		padding-left: 6rem;
	}
}

.projectImg{
    border-top: 2px solid black;
}

.projectImg,
.projectText{
<<<<<<< HEAD
	max-width: 375px;
=======
	max-width: 250px;
>>>>>>> a4ee777de177e982f757d4e85faf652e3225af9a
	border-left: 2px solid black;
    border-right: 2px solid black;
    @include smlscreen {
    	max-width: 400px;
    }

}




.projectText{
	text-align: center;
    // background: snow;
    	 background-color: $grey2;

    padding: 2.3rem .5rem;
    // height: 12rem;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.projects{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start; 
}

.project{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	margin: .9rem;
	border-radius: 0 0 10% 10%;
	@include smlscreen {
		margin: 1.6rem;
	}
}

.title {
	text-decoration: underline;
	padding: 2rem;
}

.projectBtns{
<<<<<<< HEAD
	 width: 375px;
=======
	width: 250px;
>>>>>>> a4ee777de177e982f757d4e85faf652e3225af9a
	 background-color: $grey2;
    text-align: center;
    border-top: 1px solid $grey1;
    border-radius: 0 0 50% 50%;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow:  0 24px 25px 0 rgba(0, 0, 0, .19);
    @include smlscreen {
		width: 400px;
    }
}


.repoBtn,
.liveBtn {
	background: none;
	border: 1px solid black;
	padding: 1rem 1rem;
	border-radius: .5rem;
	overflow: hidden;
	position: relative;
	z-index: 9;
	transition: .5s;
	text-decoration: none;
		color: $black1;
		padding: .5rem 1rem;
		display: inline;
	&::before{
		content: "";
		position: absolute;
		background-color: $orange1;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 0;
		border-radius: 50% 50% 0 0;
		z-index: -9 ;
		transition: .5s;
	}
	&:hover::before{
		height: 180%;
	}
	&:hover{
		text-shadow: 0px 0px 2px $black1;
	}
	&>a {
		text-decoration: none;
		color: $black1;
		padding: .5rem 1rem;

	}
}









