.container{
	padding: 0 1rem;
}


#ghLink{
	color: black;
	font-weight: 300;
}


.projectImg{
	max-width: 400px;
}

.projects{
	display: flex;
	flex-wrap: wrap;
}

.project{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	
}