// /*base styles*/
// // $nameColor: goldenrod;
// // $primary-color: crimson;
// // $inverted: invert($primary-color);
// // $complement: complement($nameColor);

// // $new-color: rgba($complement, .3);
// // $saturate: saturate($new-color, 90%);
// // $darken: darken($saturate, 50%);

// // @mixin font-style{
// //     text-transform: uppercase;
// //     font-family: 'Staatliches', cursive;
// // }

// // html{
// //   height: 100vh;
// // }

// // body{
// //     background-color: #333;
// //     display: flex;
// //     flex-direction: column;
// //     height: 100vh;
// //     // background-image: url(https://images.unsplash.com/photo-1501492751416-51484c0d911f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
// //     background-size:  cover;
// // }

// // section{
// //     flex-grow: 1;
// // }

// // @keyframes nameOutline{
// //   0%{
    
// //   }
// //   100%{
// //     stroke-dashoffset: 0;
// //   }
// // }


// // .image{
// //   width: 75%;
// //   margin: 0 auto;
// //   padding-top: 2rem;
// //   stroke: goldenrod;
// //   stroke-dashoffset: 720;
// //   stroke-dasharray: 720;
// //   animation: nameOutline 2s linear forwards;
// // }



// // footer{
// //     align-self: center;
// // }
// // h4{
// //     color: grey;
// //     letter-spacing: .4rem;
// //     font: "times new roman";
// //     font-size: 1.2rem;
// // }

// // .flex{
// //     display: flex;
// //     flex-direction: column;
// //     align-items: center;
// //     perspective: 700px;
// // }

// // h1 {
// //     margin-top: 0;
// //     text-align: center;
// //     font-size: 8rem;
// //     letter-spacing: 1rem;
// //     text-shadow: 5px 5px 30px $nameColor;
// //     margin-bottom: 3rem;
// //     @include font-style
// // }

// // @keyframes email {
// //   50%{
// //     transform: translate3d(0, -10px, 0);
// //   }

// //   80%{
// //    transform: translate3d(0, 10px, 0);

// //   }

// //   100%{
// //    transform: translate3d(0, 0, 0);

// //   }
// // }

// // h3{
// //     font-family: 'Staatliches', cursive;
// //     text-align: center;
// //     color: white;
// //     letter-spacing: 1.8rem;
// //     font-weight: 1;
// //     margin-top: 4rem;
// //     font-size: 1.2rem;
// //     animation: email 1.2s 2.1s ease-out;
// // }

// // @keyframes Iam {
// //     50%{
// //       transform: translateY(12px);
// //     }
// //     80%{
// //      transform: translateY(-12px);
// //     }
// //     100%{
// //        transform: translateY(0px);
// //     }
// // }

// // p {
// //   font-size: 5rem;
// //   display: inline-block;
// //   margin-top: 5rem;
// //   letter-spacing: .2rem;
// //   text-decoration: underline;
// //   transform: translateY(-180px);
// //   animation: Iam .5s forwards;
// //   @include font-style;
// // }

// // i{
// //   color: $nameColor;
// //   font-size: 5rem;
// //   margin: 0 2rem;
// // }

// // .github,
// // .linkedin,
// // .twitter,
// // .resume{
// //   transition: transform .4s;
// //   &:hover{
// //       transform: scale(1.2);
// //   }
// // }

// // .fa-github-square,
// // .fa-linkedin,
// // .fa-twitter-square,
// // .fa-file{
// //   transition: color 1s;
// // 
// // }
// // .fa{
// //    &-github-square:hover{
// //      color:#f5f5f5;
// //    }
// //    &-linkedin:hover{
// //       color:#0077b5;
// //    }
// //    &-twitter-square:hover{
// //       color:#1da1f2;
// //    }
// //    &-file:hover{
// //       color: #aab8c2;
// //    }
// // }

// // .flex-icons{
// //   display: flex;
// //   justify-content: center;
// // }

// // path:nth-child(1) {
// //   stroke-dasharray: 500px;
// // }

//     html{
//       height: 100vh;
//     }
//     .container{
//       background: lightgrey;
//       height: 100vh;
//       display: flex;
// /*      justify-content: center;
// */      align-items:   center; 

//     }


//     @keyframes fadeIn {
//       0% {
//         opacity: 0;
//       }

//       100% {
//         opacity: 1;

//       }
//     }

//     .hello{
//       // width: ;
//       color: white;
//       animation: fadeIn 5s;

//     }
//     hr{
//       height: 2px;
//       width: 100%;
//       background-color: darkred ;
//       margin-top: .4rem
//     }
// h1{
//   margin: 3px 0;
//   position: relative;
//   color:darkred;
//    margin-left: 1.2rem;
//    margin-bottom: 1rem;
// }

// .line{
//   position: absolute;
//   width: 100%;
//   height: 4px;
//   background-color: red;
// }
//     /*span {
//       color: red;
//       text-decoration:  underline;
//     }*/
// .ul{
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }
// .jesse{
//   flex: 2;
// }

// li{
//   flex:1;
// }
// ul{
//   width:100%;
//   height: 100%;
// }
// nav{
//   height: 100%;
//   width: 25%;
//   background: black;
//   opacity: .5;
//   color: green;
// }
// /*nav{
//   margin-right: auto;
// }*/
// .main{
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }




//partials
@import "media-query-mixins";
@import  "header";
@import  "workpage";


*{
	font-family: 'Nunito', sans-serif;
}

html{
	height: 100%;
}

body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: white;

}

.container{
	flex:  1 0 auto;
	padding: 0 2rem;
	@include desktop{
		max-width: 1600px;
	}
}

.footer{
	flex-shrink: 0;
	overflow: hidden;
	align-self: center;
	padding: 1.2rem ;
	font-weight: 600;
	color: black;
	font-size: 1.4rem;
	
}


