body{
	background-color: black;
}

h1 {
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 20rem;
	font-family: 'Staatliches', cursive;
	text-shadow: 2px 2px 2px magenta;
}

p {
	color: pink;
	text-transform: uppercase;
	text-decoration: underline;
	transition: transform .5s ease-out;
}

p:hover {
	transform: rotateY(180deg) ;
	perspective: 700px;
}
