/*base styles*/
$nameColor: goldenrod;
$primary-color: crimson;
$inverted: invert($primary-color);
$complement: complement($nameColor);

$new-color: rgba($complement, .3);
$saturate: saturate($new-color, 90%);
$darken: darken($saturate, 50%);

@mixin font-style{
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    color: $darken;
}

html{
  height: 100vh;
}

body{
    background-color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1501492751416-51484c0d911f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
    background-size:  cover;
}

section{
    flex-grow: 1;
}

footer{
    align-self: center;
}
h4{
    color: grey;
    letter-spacing: .4rem;
    font: "times new roman";
    font-size: 1.2rem;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 700px;
}

h1 {
    margin-top: 0;
    text-align: center;
    font-size: 8rem;
    letter-spacing: 1rem;
    text-shadow: 5px 5px 30px $nameColor;
    margin-bottom: 3rem;
    @include font-style
}

h3{
    font-family: 'Staatliches', cursive;
    text-align: center;
    color: white;
    letter-spacing: 1.8rem;
    font-weight: 1;
    margin-top: 4rem;
    font-size: 1.2rem;
}

p {
  font-size: 5rem;
  display: inline-block;
  margin-top: 5rem;
  letter-spacing: .2rem;
  text-decoration: underline;
  transition: transform .5s ease-out;
  &:hover{
     transform-style: preserve-3d;
     transform: rotateX(90deg) rotate(45deg);
       // perspective(700px) rotateX(90deg) rotate(45deg);
     // rotateY(90deg) ;
     // perspective: 1000px;
  }
  @include font-style;
}
// OLD CSS
// p:hover {
//   transform: rotateY(180deg) ;
//   perspective: 700px;
// }

a{
  color: white;
}

i{
  color: $nameColor;
  font-size: 5rem;
  margin: 0 2rem;
}

.github,
.linkedin,
.twitter,
.resume{
  transition: transform .4s;
  &:hover{
      transform: scale(1.2);
  }
}

.fa-github-square,
.fa-linkedin,
.fa-twitter-square,
.fa-file{
  transition: color 1s;
}

.fa-github-square:hover{
  color:#f5f5f5;
}

.fa-linkedin:hover{
  color:#0077b5;
}

.fa-twitter-square:hover{
  color:#1da1f2;
}

.fa-file:hover{
color: #aab8c2;
}

.flex-icons{
  display: flex;
  justify-content: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
   
  }
   h1{
    font-size: 10rem;
  }
    h3{
    font-size: 2rem;
  }


}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }



}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}